*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* --------------pop up------------------- */

.pop-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.message{
    text-align: center;
    border: 1px solid rgb(58, 53, 53);
    border-radius: 15px;
    width: 400px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message h4{
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 14px;
}

.error i{
    font-size: 2.6rem;
    margin-bottom: 15px;
    color: #960707;
}

.error p{
    margin-bottom: 20px;
    color: #710707;
}

.close{
    padding: 8px 70px;
    margin: 7px;
    font-size: 1.5rem;
    border-radius: 7px;
    border: 1px solid #de3737;
    background: #960707;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
/* --------------pop up------------------- */

.container{
    padding: 15px;
    border-radius: 10px;
    background-color: #2a2a2a;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 620px;
}

.container h1{
    font-size: 45px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 550px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 30px;
    border-radius: 15px;
    border: 1px solid #2a2a2a;
    background: #303030;
    color: #fff;
    outline: none;
}

input::placeholder{
    font-size: 30px;
}

#apply-color {
    width: 550px;
    padding: 16px;
    margin: 7px;
    font-size: 30px;
    border-radius: 15px;
    border: 1px solid #de3737;
    background: #960707;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in;
}

button:hover{
    background: #af0404;
}

#generate-color{
    width: 550px;
    padding: 16px;
    margin: 7px;
    font-size: 30px;
    border-radius: 15px;
    border: 1px solid blue;
    background: rgb(54, 54, 201);
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in;
}

#generate-color:hover{
    background: rgb(4, 4, 143);
}































































































































































